body {
    background-color: #ffe !important;
}

.con {
    min-width: 900px;
    width: 95%;
    background-color: #2d2400;
    margin: 40px auto;
    padding-bottom: 25px;
}

.content {
    width: 98%;
    background-color: #eee;
    margin: 0 auto;
    padding: 60px 40px;
    position: relative;
    font-size: 90%;
}


.navigation {
    background-color: #2d2400;
    width: 98%;
    margin: 0 auto;
    color: #fff;
}

.nav-element {
    font-size: 20px;
    color: #fff;
    padding: 10px 15px 4px 15px;
    margin-top: 10px;

}

.nav-element:hover {
    color: #ffa;
}

.nav-element-active {
    color: #000;
    background-color: #eee;
    border-radius: 4px 4px 0px 0px;
}

.nav-element-active:hover {
    color: #000;
    background-color: #eee;
    border-radius: 4px 4px 0px 0px;
}

.cloud, .cloud-rt, .cloud-lt {
}

.cloud {
    width: 90%;
    margin: 0px auto 40px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 4px;
    padding: 0px 10px 20px 10px;
}

.cloud .cloud_tt, .cloud-lt .cloud_tt, .cloud-rt .cloud_tt {
    text-align: center;
    border-bottom: 1px solid #eee;
}

.cloud .cloud_ct {
    margin: 40px auto 0px;
}


.cloud_elem_th, .cloud_elem {
    margin: 0 auto;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

.cloud_elem a {
    color: #333;
}

.cloud_elem a:hover {
    text-decoration: none;
}

a.cloud_list {
    color: #2d2400;
}

a.cloud_list:hover {
    color: #2d2400;
}

.cloud_elem_th {
    color: #fff;
    background-color: #2d2400;
}

.cloud_elem {
    border-bottom: 1px solid #eee;
}

.cloud_elem:hover {
    background-color: #ffe;
}

.cloud_files {
    border-top: 1px solid #eee;
    font-size: 34px;
    color: #444;
    position: relative;
    top: 30px;
    padding-top: 10px;
}

.cloud_files a {
    color: #0097CF;
}

.cloud_files a:hover, .cloud_files a:focus {
    color: #941400;
    text-decoration: none;
}

.cloud_files_typ {
    height: 26px;
    overflow: hidden;
    font-size: 16px;
    position: absolute;
    top: 18px;
    z-index: 2;
    color: #fff;
    left: 4px;
    text-shadow: 1px 0px 0px #000, 0px 2px 0px #000, 0px 0px 3px #000;
}

.cloud_files_name {
    font-size: 10px;
    position: relative;
    max-width: 50px;
    max-height: 14px;
    overflow: hidden;
    top: -10px;
}

.cloud_files_element {
    position: relative;
    padding-right: 2px;
    display: inline-block;
}

.modernizator_area {
    background-color: #fff;
    border: 1px solid #eee;
    position: absolute; 
    left: 7px; 
    top: 7px; 
    line-height: 25px;
    font-size: 18px;
    border-radius: 4px;
}

.modernizator_field {
    color: #555;
    float: left;
    padding: 2px 4px 0px 4px;
}

.modernizator_field:hover {
    color: #000;
}


.cloud-lt, .cloud-rt {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}

.cloud-lt {
    width: 40%;
    float: left;

}

.cloud-rt {
    width: 58%;
    float: right;
}

.cloud_tt_message {
    border-bottom: 1px solid #eee;
}

.cloud_tt_message h5{
    color: #444;
}

.btn-new {
    width: 58%;
    float: right;
    margin: 10px auto 20px;
}

.btn-new div {
    width: 150px;
    margin: 0 auto;
}


.priorytet_bniski, .priorytet_niski, .priorytet_sredni, .priorytet_wysoki, .priorytet_bwysoki {
    padding-right: 10px;
    text-shadow: -1px 0 #777, 0 1px #777,
        1px 0 #777, 0 -1px #777;
}

.priorytet_bniski {
    color: #009933;
}
.priorytet_niski {
    color: #00aa00;

}
.priorytet_sredni {
    color: #ffa;
}
.priorytet_wysoki {
    color: #FECA40;
}
.priorytet_bwysoki {
    color: red;
}

.cloud_elem .lt {
    width: 70%;
}

.status_nowy,
.status_w_realizacji,
.status_zatrzymany,
.status_testowany,
.status_test_negatywny,
.status_test_pozytywny,
.status_wgrywany,
.status_wgrany,
.status_zamknięty,
.status_przywrocony{
    padding-right: 6px;
    padding-left: 6px;
    text-shadow: -1px 0 #777, 0 1px #777,
        1px 0 #777, 0 -1px #777;
}


.status_nowy{
    color: #009933;
}
.status_w_realizacji{
    color: #FECA40;
}
.status_zatrzymany{
    color: #313131;
}
.status_testowany{
    color: #0097CF;
}
.status_test_negatywny{
    color: red;
}
.status_test_pozytywny{
    color: #99ff99;
}
.status_wgrywany{
    color: purple;
}
.status_wgrany{
    color: #999;
}
.status_zamknięty {
    color: #ccc;
}
.status_przywrocony {
    color: #ffcc99;
}

.padding-low {
    padding: 3px;
}

.padding-medium {
    padding: 20px;
}

.padding-left-right-height {
    padding-left: 40px;
    padding-right: 40px;
}

.btn-file {
    position: relative;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#selectedFiles div {
    padding-left: 4px;
}

#selectedFiles div:after {
    content: ",";
}

.cloud_elem .glyphicon-pencil:hover {
    color: #0097CF;
}

.cloud_elem .glyphicon-trash:hover {
    color: #941400;
}

.cloud_elem .glyphicon-log-in:hover {
    color: #330099;
}

.cloud_elem .glyphicon-cog:hover {
    color: #777777;
}
.row-border {
    border: 1px solid #2D2400;
}

.active_day {
    background-color: #eeffdd;
}

.calendar_line {
    display: inline-block;
}

.task_list {
    max-height: 500px;
    overflow: auto;
}