# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/upload/*
web/upload/pliki_wiadomosci/*
web/bundles/*
htdocs/uploads/*
htdocs/upload/*
htdocs/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Composer
composer.phar

# User
web/index.php
