<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html;" charset="UTF-8" />
    </head>
    <body>
        <div style="margin: 0 auto; width: 60%; border: 2px solid #805600; border-radius: 14px; background-color: #FFFFEE">
            <div>
                <div style="display: table; margin: 4px auto; color: #000;">
                    {% block nav %} {% endblock nav %}
                </div>
                <hr style="margin:0; border: 0; background-color: #805600; height: 2px; color: #805600;">
            </div>
            <div style="border-radius: 14px;">
                <div style="width: 90%; margin: 0 auto; padding:  20px 0px 0px 0px">
                    <div style="">
                        <h1 style="margin:0; color: #000">
                        {% block title %} {% endblock title %}
                        </h1>
                    </div>
                    <div style="padding: 20px 0px 0px 0px">
                        {% block content %} {% endblock content %}
                    </div>
                    <hr style="margin:0; border: 0; background-color: #ccc; height: 1px; color: #999;">
                </div>
                <div style="width: 90%; margin: 4px auto; color: #999; font-size: smaller">
                    <i>{% block footer %}{% endblock footer %}</i>
                </div>
            </div>
        </div>
    </body>
</html>
