{% extends "::admin.html.twig" %}
{% block content %}
<div class='ct' >
    {{ include('AppHelperBundle:bootstrap:naglowek.html.twig', {h1: 'Użytkownik', small: 'Edycja'}) }}
    {{ include('AppHelperBundle:form:standard_form.html.twig', {form: form}) }}
    {{ include('AppHelperBundle:bootstrap:return_link.html.twig', { link: 'uzytkownik_show' }) }}
</div>
{% endblock content %}
