homepage:
    pattern:  /
    defaults: { _controller: AppFrontendBundle:Default:index }

projects:
    pattern: /projekty
    defaults: { _controller: AppFrontendBundle:Projects:index }

projects_new:
    pattern: /nowy-projekt
    defaults: { _controller: AppFrontendBundle:Projects:new }
projects_zakonczone:
    pattern: /projekty-zakonczone
    defaults: { _controller: AppFrontendBundle:Projects:zakonczone }
projects_skasowane:
    pattern: /projekty-skasowane
    defaults: { _controller: AppFrontendBundle:Projects:skasowane }

projects_edit:
    pattern: /projekt-edycja/{projekt_nazwa}
    defaults: { _controller: AppFrontendBundle:Projects:editProject } 

projects_restore:
    pattern: /projekt-przywroc/{projekt_nazwa}
    defaults: { _controller: AppFrontendBundle:Projects:restoreProject } 
    
projects_delete:
    pattern: /projekt-delete/{projekt_nazwa}
    defaults: { _controller: AppFrontendBundle:Projects:deleteProject } 
    
projects_hard_delete:
    pattern: /projekt-hard-delete/{projekt_nazwa}
    defaults: { _controller: AppFrontendBundle:Projects:deleteHardProject }
    
projects_edit_roles:
    pattern: /projekt-edycja-rol/{projekt_nazwa}
    defaults: { _controller: AppFrontendBundle:Projects:editRoles }
    
projects_user_add:
    pattern: /projekt-dodanie-uzytkownika/{projekt_name}
    defaults: { _controller: AppFrontendBundle:Projects:addUserToProject }

tasks:
    pattern: /projekt/{projekt_nazwa}/{task_id}
    defaults: { _controller: AppFrontendBundle:Task:index, task_id: 0 }
    
task_new:
    pattern: /projekt-nowe-zadanie/{projekt_nazwa}
    defaults: { _controller: AppFrontendBundle:Task:new }

taskReopen:
    pattern: /task-przywroc/{task_id}
    defaults: { _controller: AppFrontendBundle:Task:taskReopen }

plikWiadomoscPobierz:
    pattern:  /projekt-wiadomosc/pobierz-plik-zadania/{plikWiadomosciId}
    defaults: { _controller: AppFrontendBundle:Task:plikWiadomoscPobierz}
    
plikTaskPobierz:
    pattern:  /projekt-wiadomosc/pobierz-plik-glowny-zadania/{plikTaskId}
    defaults: { _controller: AppFrontendBundle:Task:plikTaskPobierz}
    
wiadomosc_delete:
    pattern:  /usuwanie-wiadomosci/{wiadomoscId}
    defaults: { _controller: AppFrontendBundle:Task:usunWiadomosc }
    
wiadomosc_edit:
    pattern:  /edycja-wiadomosci
    defaults: { _controller: AppFrontendBundle:Task:edytujWiadomosc }
   
wiadomosc_create:
    pattern:  /stworz-wiadomosc
    defaults: { _controller: AppFrontendBundle:Task:stworzWiadomosc }
    
wiadomosc_edit_form_valid:
    pattern:  /edycja-wiadomosci-form-valid/{wiadomosc_id}
    defaults: { _controller: AppFrontendBundle:Task:edytujWiadomoscFormValid }

file_delete_from_message:
    pattern:  /file-delete-from-message
    defaults: { _controller: AppFrontendBundle:Task:fileDeleteFromMessage }

calendar:
    pattern: /kalendarz/{year}/{month}
    defaults: { _controller: AppFrontendBundle:Calendar:index }

settings:
    pattern: /ustawienia
    defaults: { _controller: AppFrontendBundle:Settings:index }

users:
    pattern:  /users/show
    defaults: { _controller: AppFrontendBundle:Users:showAllUsers }

profile_edit:
    pattern:  /profil/edytuj
    defaults: { _controller: AppFrontendBundle:Profile:edit }
    
profile_edit_change_basic:
    pattern:  /profil/edytuj-change-basic
    defaults: { _controller: AppFrontendBundle:Profile:changeBasic }
  
profile_edit_change_password:
    pattern:  /profil/edytuj-change-password
    defaults: { _controller: AppFrontendBundle:Profile:changePassword }
    
task_edit:
    pattern:  /edytowanie-zadania/{projekt_nazwa}/{task_id}
    defaults: { _controller: AppFrontendBundle:Task:taskEdit}

ajax_get_new_form_message:
    pattern:  /ajax-get-new-form-message
    defaults: { _controller: AppFrontendBundle:Task:getNewFormMessage}
    
rachunek:
   pattern:  /rachunek
   defaults: { _controller: AppFrontendBundle:Rachunek:index}
   
rachunek_new:
   pattern:  /rachunek-nowa-transakcja
   defaults: { _controller: AppFrontendBundle:Rachunek:new }
