{% extends '::frontend.html.twig' %}

{% block templatestyle %}
{% endblock %}

{% block content %}
<div class="cloud">
    <div class="cloud_tt"><h3>Moje zadania <small>Przypisane na mnie</small></h3></div>
    <div class="cloud_ct">
        {% if collMyTask|length == 0 %}
            {{ 'brak zadań' }}
        {% else %}
            {% for myTask in collMyTask %}
                {{ myTask.label ~ ' Projekt: ' ~ myTask.projekt.label  }}<br />
            {% endfor %}
        {% endif %}
    </div>
</div>
<div class="cloud">
    <div class="cloud_tt"><h3>Moje zadania <small>Odesłane</small></h3></div>
    <div class="cloud_ct">
        {% if collSentTask|length == 0 %}
            {{ 'brak odesłanych zadań' }}
        {% else %}
            {% for sentTask in collSentTask %}
                {{ sentTask.label ~ ' Projekt: ' ~ sentTask.projekt.label  }}<br />
            {% endfor %}
        {% endif %}
    </div>
</div>
<div class="clear"></div>
{% endblock %}