{% extends '::frontend.html.twig' %}

{% block templatestyle %}
{% endblock %}

{% block content %}
<div class="cloud">
    <div class="cloud_tt"><h3>Moje zadania</h3></div>
    <div class="cloud_ct">
    {{ 'brak zadań' }}
    </div>
</div>
<div class="cloud">
    <div class="cloud_tt"><h3>Moje zadania <small>Odesłane</small></h3></div>
    <div class="cloud_ct">
    {{ 'brak odesłanych zadań' }}
    </div>
</div>
<div class="clear"></div>
{% endblock %}