{% extends "::frontend.html.twig" %}

{% block templatestyle %}
    {% include 'AppHelperBundle:basic:ajax.html.twig' %}
{% endblock templatestyle %}

{% block content %}
    podstrona w przygotowaniu [...2%...]
    
    <div class="cloud">
    <div class="cloud_tt">
        <h3>Lista użytkowników</h3>
    </div>
        
     </div>
{% endblock %}
