* {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
    height: 0;
    font-size: 0;
    line-height: 0;
}

.ajax-load {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #000000;
    background-image: url('/js/ajax/img/aw_loading.gif');
    background-repeat:no-repeat;
    background-position:center; 
}

.relative {
    position: relative;
}

.right {
    float: right;
}

.left {
    float: left;
}

.input-group-addon {
    cursor: pointer;
}

.hr {
    border-bottom: 1px solid #ccc;
}

.hr:hover {
    background-color: #fff5dc;
}

.form-validate .error_list {
    color: #993300;
    background: #ffcccc;
    padding: 4px 10px;
    margin-top: 4px;
    border: 1px solid #993300;
    border-radius: 4px;
}
body {
}

.content {
    padding: 30px 0px;
    position: relative;
    top: 140px;
    width: 1000px;
    margin: 0 auto;
    background-color: #356FB8;
}

.login_form {
    margin: 0 auto;
    width: 300px;
    position: relative;
    color: #000;
}

.login_form div {
    padding: 5px 0px;
}

.register_form {
    float: right;
    width: 450px;
}

.register_form .form-row {
    width: 350px;
    padding: 10px 0px;
}

.register_form input {
    color: #000;
    border: 2px solid #000;
    border-radius: 4px;
    outline: 0px;
    width: 350px;
    padding: 12px 10px;
    font-size: 15px;
}

.register_form input:focus {
    border: 2px solid #00f;
}

.register_form button {
    border: 2px solid #710000;
    color: #fff;
    border-radius: 4px;
    width: 350px;
    padding: 10px 0px;
    font-size: 18px;
    background: rgb(169,3,41); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(169,3,41,1) 0%, rgba(143,2,34,1) 46%, rgba(109,0,25,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(169,3,41,1)), color-stop(46%,rgba(143,2,34,1)), color-stop(100%,rgba(109,0,25,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 46%,rgba(109,0,25,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 46%,rgba(109,0,25,1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 46%,rgba(109,0,25,1) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 46%,rgba(109,0,25,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.register_form button:hover {
    background: rgb(169,3,41); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(169,3,41,1) 0%, rgba(143,2,34,1) 7%, rgba(109,0,25,1) 51%, rgba(109,0,25,1) 76%, rgba(143,2,34,1) 99%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(169,3,41,1)), color-stop(7%,rgba(143,2,34,1)), color-stop(51%,rgba(109,0,25,1)), color-stop(76%,rgba(109,0,25,1)), color-stop(99%,rgba(143,2,34,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 7%,rgba(109,0,25,1) 51%,rgba(109,0,25,1) 76%,rgba(143,2,34,1) 99%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 7%,rgba(109,0,25,1) 51%,rgba(109,0,25,1) 76%,rgba(143,2,34,1) 99%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 7%,rgba(109,0,25,1) 51%,rgba(109,0,25,1) 76%,rgba(143,2,34,1) 99%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 7%,rgba(109,0,25,1) 51%,rgba(109,0,25,1) 76%,rgba(143,2,34,1) 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#8f0222',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    cursor: pointer;
}

.register_text {
    color: #fff;
    height: 404px;
    float: left; 
    width: 400px;
    position: relative;
    left: 20px;
}

.register_text h2 {
    line-height: 45px;
}

.register_text a {
    color: #fff;
    text-decoration: underline;
}

.register_text a:hover {
    color: #911;
}

.register_text .return_link {
    position: absolute;
    bottom: 0px;
}
