* {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
    height: 0;
    font-size: 0;
    line-height: 0;
}

.ajax-load {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #000000;
    background-image: url('/js/ajax/img/aw_loading.gif');
    background-repeat:no-repeat;
    background-position:center; 
}

.relative {
    position: relative;
}

.right {
    float: right;
}

.left {
    float: left;
}

.input-group-addon {
    cursor: pointer;
}

.hr {
    border-bottom: 1px solid #ccc;
}

.hr:hover {
    background-color: #fff5dc;
}

.form-validate .error_list {
    color: #993300;
    background: #ffcccc;
    padding: 4px 10px;
    margin-top: 4px;
    border: 1px solid #993300;
    border-radius: 4px;
}