{% extends "::security.html.twig" %}
{% block content %}
<div class="ct">
    <div class="login_form">
        <form action="" method="POST">
        {% for key, element in form if key != '_token' %}
            <div class="row">
                <div>{{ form_widget(element) }}</div>
            </div>
        {% endfor %}
        {{ form_widget(form._token) }}
        </form>
    </div>
</div>
{% endblock content %}