<div style="padding: 6px 0px;">
    <a href="{{ url(link) }}">
        <button class="btn btn-default"><span class="glyphicon glyphicon-circle-arrow-left"> <label>Powrót</label></span></button>
    </a>
</div>